@model IEnumerable <ProjetoAM2017_ASP.Models.Noticia>

@{
    ViewBag.Title = "ListarNoticias";
}

<h2>ListarNoticias</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Codigo)</th>
        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
        <th>@Html.DisplayNameFor(model => model.Texto)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
        <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
        <td>@Html.DisplayFor(modelItem => item.Texto)</td>
    }
</table>
<br />
