@model ProjetoAM2017_ASP.Models.Administrador

<h2>@ViewBag.Title</h2>

<br />@Html.ActionLink("Contatos Cadastrados", "ListarContatos")
<br />@Html.ActionLink("Clientes Cadastrados", "ListarClientes")
<br />@Html.ActionLink("Noticias Cadastradas", "ListarNoticias")
<br />@Html.ActionLink("Cadastrar Nova Notícia", "CadastrarNoticia")
