@model IEnumerable<ProjetoAM2017_ASP.Models.Contato>
   
@{ 
    ViewBag.Title = "Mensagens";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Codigo)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Tel)</th>
        <th>@Html.DisplayNameFor(model => model.Comentarios)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Tel)</td>
        <td>@Html.DisplayFor(modelItem => item.Comentarios)</td>
        <td>
            @Html.ActionLink("Excluir", "ExcluirContato", new { id = item.Codigo })
        </td>
    }
</table>
<br />
@Html.ActionLink("Voltar", "Index")
